* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fb;
}


.navbar {
    background-color: #148023;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a.active {
    text-decoration: underline;
}


.contact-container {
    width: 400px;
    margin: 60px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 115px;
}

.contact-container h1 {
    margin-bottom: 10px;
}

.contact-container p {
    margin-bottom: 20px;
    color: gray;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    background-color: #148023;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0f661b;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
